body {
    background-color: white;
    font-family: 'Old Standard TT', serif;
}

header {
    font-weight: bold;
    margin: 20px;
    font-family: 'Old Standard TT', serif;
}

.container {
    background-color: white;
    margin: 20px;
}

.highScore {
    text-align: left;
    font-size: 18px;
}

.timer {
    text-align: right;
    font-size: 18px;
}

.card-body {
    border-style: solid;
    border-width: 1px;
}

.card-title {
    text-align: center;
    font-family: 'Old Standard TT', serif;
}

.card-text {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;

}

#start {
    text-align: center;
    padding: 5px 15px 5px 15 px;
    background-color: navy;
    align: center;
    margin: 10px;    
    font-family: 'Old Standard TT', serif;
}

div {
    text-align: center;
}

#quizContainer {
    padding-top: 20px;
}